<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OAS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href= "{% static "css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href= "{% static "css/bootstrap-theme.min.css" %}" />
        <link rel="stylesheet" href= "{% static "css/fontAwesome.css" %}" />
        <link rel="stylesheet" href="{% static "css/light-box.css" %}" />
        <link rel="stylesheet" href="{% static "css/templatemo-style.css" %}" />
        <link rel="stylesheet" href="{% static "css/choose_word.css" %}" />
        <link rel="stylesheet" href="{% static "css/list.css" %}" />
        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href= "{% static "elastic-more-info-button050118/css/style_menu.css" %}" />
    </head>
<body>
    <nav>
        <div class="logo">
            <a index.html>OA<em>S</em></a>
        </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Welcome to <em>Obious Acrotext Steganography</em></h1>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"> <img src="{% static "img/scroll-icon.png" %}" alt=""></a>
                </div>
            </div>
        </div>
        <img src = "{%  static "main.jpg" %}" />
    </div>

    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <h1 style="color:#5B4346">  Введите текст </h1>
                <form id = "TextForm" method="POST">
                    {% csrf_token %}
                    {{ form_text }}
                </form>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="card" id="sample-card" style="margin-left: auto; margin-right: auto">
                    <div class="close-button">X</div>
                    <div class="button" id="sample-button">Правила пользования</div>
                    <div class="muddle" id="sample-paragraph">
                        1 - отправить текст
                        ↓ - спуститься вниз на одно слово
                        ↑ - подняться вверх на одно слово
                        5 - спуститься вниз на пять слов
                        6 - подняться вверх на пять слов
                        пробел - отправить номер выбранного слова
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-portfolio" id="portfolio1">
        <div class="container">
            <div class="col-md-4 col-sm-3">
                <div class="group">
                    <input type="text" required id="number_input">
                    <span class="bar"></span>
                    <label>Введите номер</label>
                </div>
                <select class="form-control" id="select_word" style="background-color:#BAB0B0" size="5" disabled></select>
                <h1 style="color:#5B4346"> Акротекст </h1>
                <textarea class="form-control" id="acrotext" rows="7" style="background-color:#BAB0B0" style="color:#A16B21" disabled></textarea>
            </div>
            <div class="col-md-2 col-sm-2">
                <h3 style="color:#5B4346" id="Label1"> Слово не определено </h3>
                <br>
                <ol class="rounded">
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li1"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li2"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li3"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li4"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li5"></a></li>
                </ol>
            </div>
            <div class="col-md-2 col-sm-2">
                <h3 style="color:#5B4346" id="Label2"> Слово не определено </h3>
                <br>
                <ol class="rounded">
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li6"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li7"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li8"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li9"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li10"></a></li>
                </ol>
            </div>
            <div class="col-md-2 col-sm-2">
                <h3 style="color:#5B4346" id="Label3"> Слово не определено </h3>
                <br>
                <ol class="rounded">
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li11"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li12"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li13"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li14"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li15"></a></li>
                </ol>
            </div>
            <div class="col-md-2 col-sm-2">
                <h3 style="color:#5B4346" id="Label4"> Слово не определено </h3>
                <br>
                <ol class="rounded">
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li16"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li17"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li18"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li19"></a></li>
                    <li style="margin-left: auto; margin-right: auto"><a href="#" id="li20"></a></li>
                </ol>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>BMSTU</p>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/keydown_listener.js' %}" ></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6859/tween.min_1.js"></script>
    <script src="{% static 'elastic-more-info-button050118/js/menu.js' %}"></script>
    <script src="{% static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
</body>
</html>
